<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Challenges</h1>
    </div>
    <% @challenges.each do |challenge| %>
    <div class="col-xs-6 col-md-4">
      <div class="card">
        <p><%= link_to challenge.name, challenge_path(id: challenge.id) %></p>
        <% if challenge.users.find_by_id(current_user.id).nil?%>
          <%= link_to 'Participate', challenge_swims_path(challenge_id: challenge.id), method: :post %>
        <% else %>
          <%= link_to 'Give up', '#' %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
