.card {
  height: 380px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  text-align: center;
  margin: 3px;
  border-radius: 10px;
  box-shadow: 0 10px 6px -6px #777;

  a {
    font-size: 18px;
  }

  .card-main-image {
    width: 190px;
    display:block;
    margin: auto;
    padding-top: 30px;
  }

  .card-user {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #1C1C1C;
  }

  p {
    font-size: 13px;
  }

  .button-links {
    color: white;
    font-size: 16px;
  }
}


